<div class="page-header">
  <h1>{{page.title_farsi}}</h1>
  <h2>{{page.tagline}}</h2>
</div>

<div class="row">
  <div class="span8">
      <pre>
          <code>
              {{ content }}
          </code>
      </pre>
    {% assign posts_collate = site.posts %}
    {% include JB/posts_collate_full %}
  </div>
  <div class="span4">
      <h3>تمامی صفحات</h3>
      <ul>
          {% assign pages_list = site.pages %}
          {% include JB/pages_list %}
      </ul>

      <hr />

      {% assign posts_collate = site.posts %}
      {% include JB/posts_collate %}

      <hr />

      {% for tag in site.tags %}
      <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
      <ul>
          {% assign pages_list = tag[1] %}
          {% include JB/pages_list %}
      </ul>
      {% endfor %}

      <hr />

      {% for category in site.categories %}
      <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
      <ul>
          {% assign pages_list = category[1] %}
          {% include JB/pages_list %}
      </ul>
      {% endfor %}

  </div>
</div>
